<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @url.url %>
</p>

<p>
  <strong>Shortened URL:</strong>
  <%= link_to("Shortned URL", "http://localhost:3000/#{ @url.shorten }") %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
